@model ContatoModel
@{
    ViewData["Title"] = "Confirmação de excluir fornecedor";
}

<div class="text-center"> 

    <h3>Você realmente deseja apagar os dados de (@Model.nome)</h3>
    <br />
    <h2>Essa ação não poderá ser desfeita</h2>
</div>

<br />
<a class="btn btn-danger" asp-controller="Contato" asp-action="DeleteConfirm" asp-route-id="@Model.id" role="button">Confirmar</a>
<a class="btn btn-secondary"  asp-controller="Contato" asp-action="Index"  role="button">Cancelar</a>