@model ContatoModel
@{
    ViewData["Title"] = "Editar fornecedor";
}

<div class="text-center"> 
    <h1 class="display-4">Editar fornecedor</h1>
</div>

<form asp-controller="Contato" asp-action="Update" method="post">
  
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" asp-for="nome" class="form-control" placeholder="Digite o nome">
  </div>

  <div class="form-group">
    <label for="cnpj">CNPJ</label>
    <input type="text" asp-for="cnpj" class="form-control" placeholder="Digite o CNPJ">
  </div>

  <div class="form-group">
    <label for="segmento">Segmento</label>
    <select asp-for="segmento" class="form-control">
        <option></option>
        <option>Comércio</option>
        <option>Serviço</option>
        <option>Indústria</option>
    </select>
  </div>

  <div class="form-group">
    <label for="cep">CEP</label>
    <input type="text" asp-for="cep" class="form-control" placeholder="Digite o CEP" id="cep">
  </div>

  <div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text" asp-for="endereco" class="form-control" placeholder="Endereço" id="endereco" readonly>
  </div>

<br />
<button type="submit" class="btn btn-primary btn-block">Atualizar</button>
<a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>

</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#cep').on('blur', function() {
                var cep = $(this).val().replace(/\D/g, '');
                if (cep.length === 8) {
                    $.ajax({
                        url: `https://viacep.com.br/ws/${cep}/json/`,
                        method: 'GET',
                        dataType: 'json',
                        success: function(data) {
                            if (data.logradouro) {
                                $('#endereco').val(data.logradouro + ', ' + data.bairro + ', ' + data.localidade + ' - ' + data.uf);
                            } else {
                                alert('CEP não encontrado.');
                                $('#endereco').val('');
                            }
                        },
                        error: function() {
                            alert('Erro ao consultar o CEP.');
                        }
                    });
                }
            });
        });
    </script>
}
